body {
  font-family: sans-serif;
  padding:0;
  margin:0;
  font-size: 8px; 
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
}
.wrapper {
  border: 1px solid #000;
  padding:10px;
  margin-bottom: 10px;
}
.allcaps {
  text-transform: uppercase;
}
.label {
  color:#000;
  text-transform: uppercase;
  text-decoration: underline;
}
.detail {
  margin-left: 10px;
  margin-top: 10px;
  font-weight: bold;
}
table td {
  vertical-align: middle;
  padding: 2px;
}
table td.vertical-top {
  vertical-align: top!important;
}
table td.vertical-bottom {
  vertical-align: bottom!important;
}
.border-bottom td {
  border-bottom: 1px solid #000;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
th {
	font-size: 10px;
}
td {
	font-size: 10px;
}
.payslip_box td {
  font-size: 12px!important; 
}
#payroll_print.item_schedule {
  font-size: 10px;
}
#payroll_print.item_schedule  th {
  font-size: 11px;
}
#payroll_print.item_schedule td {
  font-size: 11px;
}
table.summary td {
  font-size: 12px;
  padding:10px!important;
}
.signature {
  border-top:1px solid #000;
  text-align: center;
  margin: 40px auto 0;
  font-weight: bold;
}
.header-label {
  margin: 0 0 20px 0;
  border-bottom: 1px solid #000;
  padding: 10px;
  background-color: #EEE;
}
.header-label small {
	font-weight: normal;
}
.total {
  font-weight: bold;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align:center;
}
body#payroll_print table td {
	border-bottom: 1px solid #CCC;
}
tr.overalltotal {
	background-color: #EEE;
}
tr.overalltotal td {
	padding: 5px;
}
tr:hover{
  background: #DDD;
}
.bold {
	font-weight: bold;
}
.not-bold {
  font-weight: 400;
}
.transaction {
  text-align: left;
}
.transaction-amount {
  text-align: right;
}
.pull-right {
  float: right;
}
.underlined {
  text-decoration: underline;
}
a.no-link {
  text-decoration: none;
  color:#000;
}
@media print {
	a[href]:after{
		content:none
	}
}

.header-title {
  margin-bottom: 10px;
}

.payroll .table {
  margin-top: 10px;
}
.payroll .table td,
.payroll .table th {
  padding:2px;
}
.period {
  margin-top: 10px;
}

.signatories table td {
  border:none;
}
.total_net_pay {
  background: #CCC;
  margin-top:10px;
}
.total_net_pay td {
  font-size: 12px;
}
.total_net_pay.summary td {
  font-size: 15px;
}
.full-border {
  border:1px solid #000;
}
.padding3 {
  padding: 3px!important;
}
.padding5 {
  padding: 5px!important;
}
.padding10 {
  padding: 10px!important;
}
body#payslip .payslip_box {
    width: 325px;
    margin: 5px 10px;
    float:left;
    padding: 10px;
}
body#payslip .payslip_box.payslip2 {
    width: 690px;
    margin: 0 0 30px 0;
}
body#payslip .payslip_box.payslip2.second-half {
    margin: 0;
    padding-top: 10px;
    border-top:1px dashed #CCC;
}
body#payslip .payslip_box .inner_body {
    
}
body#payslip .payslip_box .header-title {
  margin-top:5px;
}
body#payslip .payslip_box .employee-name {
  margin-top:10px;
}
body#payslip .payslip_box .table-details {
  margin-top:5px;
}
body#payslip .payslip_box.cash_voucher {
    width: 682px;
}
body#payslip .payslip_box.cash_voucher .table-details {
  border:1px solid #000;
}
body#payslip .payslip_box.cash_voucher .inner_body {
    min-height: 320px;
}
td.border-left {
   border-left:1px solid #000;
}
.tab1 {
  padding-left:20px;
}
.bigger {
  font-size: 120%;
}
.smaller {
  font-size: 90%;
}
.highlight {
  background: #CCC;
}
.highlight.total {
  background: #CCC;
}
.highlight.total td {
  font-weight: bold;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000!important;
}
body#payslip table.bordered td {
  border-bottom: 1px solid #CCC;
  padding: 1px 3px;
}
@media print {
    div.page {
      page-break-after: always;
      page-break-inside: avoid;
      border-bottom:1px solid #FFF;
    }
}
@media print { 
  a[href]:after { content: none !important; } 
  .hide-print {
    display: none;
  }
}
.print-topnav {
  position: fixed;
  width: 750px;
  top: 0;
  left: 50%;
  margin-top: 0; /* Negative half of height. */
  margin-left: -275px; /* Negative half of width. */
  border: 1px solid #000;
  border-top:none;
  padding:3px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #CCC;
  font-size: 11px;
  z-index: 99;
}
.print-topnav a {
  text-decoration: none;
  color:#000;
}
.print-topnav a:hover {
  font-weight: bold;
}
.print-topnav.topnav2 {
  top:18px;
  z-index: 98;
  width: 400px;
  margin-left: -150px; 
}
.config_box {
  width: 500px;
  margin: 50px auto;
}